<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>购物车</title>
	<link rel="stylesheet" type="text/css" href="../css/common.css">
	<link rel="stylesheet" type="text/css" href="../css/header.css">
	<link rel="stylesheet" type="text/css" href="../css/shoppingCart.css">
	<link rel="stylesheet" type="text/css" href="../css/footer.css">
</head>
<body>
<!-- header -->
	<div class="header">
		<div class="header_c">
			<!-- 顶部通栏 -->
			<div class="headerbar">
				<div class="headerbar_c claerfix">
					<div class="headerbar_left claerfix">
						<div class="phone">
							<em class="hico1"></em>
							<span>4000-250-630</span>
						</div>
						<div class="headerAPP">
							<a href="#" title="下载美西APP" class="header_down">
								<em class="hico2"></em>下载美西APP
							</a>
							<a href="#" target="_black" title="下载美西APP" class="QRcode">
								<em></em>
								<img src="../image/QRcode.png"/>
								扫码下载
							</a>
						
						</div>
					</div>
					<div class="headerbar_right claerfix">
						<div class="headerUser">
							<a href="#" title="登录">登录</a>
							<a href="register.html" title="注册">注册</a>
						</div>
						<div class="headerCart">
							<a href="#"  title="购物袋"><em class="hico3"></em>购物袋（<span>0</span>）</a>
						</div>
					</div>
				</div>
			</div>
			<!-- logo和搜索框 -->
			<div class="header_middle">
				<div class="header_logo">
					<a href="#" class="logo" title="美西"></a>
				</div>
				<div class="header_search">
						<input type="text" class="h_search_int" placeholder="请输入关键字">
						<a href="#" class="h_search_btn"><em class="hico4"></em></a>
					</div>
			</div>
			<!-- 导航栏 -->
			<div class="header_nav claerfix">
				<div class="header_nav_menu">
					<ul class="h_nav_list">
						<li><a href="javascript:;">首页</a></li>
						<li><a href="javascript:;">新近单品</a></li>
						<li><a href="javascript:;">全球购</a></li>
						<li><a href="javascript:;">女士</a></li>
						<li><a href="javascript:;">男仕</a></li>
						<li><a href="javascript:;">家居生活</a></li>
						<li><a href="javascript:;">腕表</a></li>
						<li><a href="javascript:;">品牌</a></li>
						<li><a href="javascript:;">Mzine</a></li>
					</ul>
				</div>
				<div class="h_nav_con">
					<div class="h_nav_spe">
						<div class="nav_arrows"></div>
					</div>
					<div class="h_nav_spe">
						<ul>
							<li class="h_nav_spe_fir"><a href="#">男仕 Man</a></li>
							<li><a href="#">包袋 Bags</a></li>
							<li><a href="#">配饰 Accessories</a></li>
							<li><a href="#">鞋履 Shoes</a></li>
							<li><a href="#">服装 Clothes</a></li>
						</ul>
						<ul>
							<li  class="h_nav_spe_fir"><a href="#">女士 Woman</a></li>
							<li><a href="#">包袋 Bags</a></li>
							<li><a href="#">配饰 Accessories</a></li>
							<li><a href="#">鞋履 Shoes</a></li>
							<li><a href="#">服装 Clothes</a></li>
						</ul>
						<div class="nav_arrows"></div>
					</div>
					<div class="h_nav_spe">
						<div class="nav_arrows"></div>
					</div>
					<div class="h_nav_spe">
						<ul>
							<li class="h_nav_spe_fir"><a href="#">包袋Bags</a></li>
							<li><a href="#">所有包袋</a></li>
							<li><a href="#">手提包 Totes</a></li>
							<li><a href="#">单肩包 Shoulder Bags</a></li>
							<li><a href="#">斜挎包 Messenger Bags</a></li>
							<li><a href="#">手拿包 Clutch Bags</a></li>
							<li><a href="#">双肩包 Travel Bags</a></li>
						</ul>
						<ul>
							<li class="h_nav_spe_fir"><a href="#">配饰Accessories</a></li>
							<li><a href="#">所有配饰</a></li>
							<li><a href="#">手表 Watches</a></li>
							<li><a href="#">太阳眼镜 Sunglasses</a></li>
							<li><a href="#">饰品 Jewelry</a></li>
							<li><a href="#">腰带 Belts</a></li>
							<li><a href="#">围巾 Scarf</a></li>
							<li><a href="#">小配件 Small Acc.</a></li>
						</ul>
						<ul>
							<li class="h_nav_spe_fir"><a href="#">包袋Bags</a></li>
							<li><a href="#">所有包袋</a></li>
							<li><a href="#">手提包 Totes</a></li>
							<li><a href="#">单肩包 Shoulder Bags</a></li>
							<li><a href="#">斜挎包 Messenger Bags</a></li>
							<li><a href="#">手拿包 Clutch Bags</a></li>
							<li><a href="#">双肩包 Travel Bags</a></li>
						</ul>
						<ul>
							<li class="h_nav_spe_fir"><a href="#">配饰Accessories</a></li>
							<li><a href="#">所有配饰</a></li>
							<li><a href="#">手表 Watches</a></li>
							<li><a href="#">太阳眼镜 Sunglasses</a></li>
							<li><a href="#">饰品 Jewelry</a></li>
							<li><a href="#">腰带 Belts</a></li>
							<li><a href="#">围巾 Scarf</a></li>
							<li><a href="#">小配件 Small Acc.</a></li>
						</ul>
						<div class="nav_arrows"></div>
					</div>
					<div class="h_nav_spe">
						<ul>
							<li class="h_nav_spe_fir"><a href="#">包袋Bags</a></li>
							<li><a href="#">所有包袋</a></li>
							<li><a href="#">手提包 Totes</a></li>
							<li><a href="#">单肩包 Shoulder Bags</a></li>
							<li><a href="#">斜挎包 Messenger Bags</a></li>
							<li><a href="#">手拿包 Clutch Bags</a></li>
							<li><a href="#">双肩包 Travel Bags</a></li>
						</ul>
						<ul>
							<li class="h_nav_spe_fir"><a href="#">配饰Accessories</a></li>
							<li><a href="#">所有配饰</a></li>
							<li><a href="#">手表 Watches</a></li>
							<li><a href="#">太阳眼镜 Sunglasses</a></li>
							<li><a href="#">饰品 Jewelry</a></li>
							<li><a href="#">腰带 Belts</a></li>
							<li><a href="#">围巾 Scarf</a></li>
							<li><a href="#">小配件 Small Acc.</a></li>
						</ul>
						<ul>
							<li class="h_nav_spe_fir"><a href="#">包袋Bags</a></li>
							<li><a href="#">所有包袋</a></li>
							<li><a href="#">手提包 Totes</a></li>
							<li><a href="#">单肩包 Shoulder Bags</a></li>
							<li><a href="#">斜挎包 Messenger Bags</a></li>
							<li><a href="#">手拿包 Clutch Bags</a></li>
							<li><a href="#">双肩包 Travel Bags</a></li>
						</ul>
						<ul>
							<li class="h_nav_spe_fir"><a href="#">配饰Accessories</a></li>
							<li><a href="#">所有配饰</a></li>
							<li><a href="#">手表 Watches</a></li>
							<li><a href="#">太阳眼镜 Sunglasses</a></li>
							<li><a href="#">饰品 Jewelry</a></li>
							<li><a href="#">腰带 Belts</a></li>
							<li><a href="#">围巾 Scarf</a></li>
							<li><a href="#">小配件 Small Acc.</a></li>
						</ul>
						<div class="nav_arrows"></div>
					</div>
					<div class="h_nav_spe">
						<ul>
							<li class="h_nav_spe_fir"><a href="#">所有 家居生活</a></li>
							<li><a href="#">美妆个护</a></li>
							<li><a href="#">品质家居</a></li>
							<li><a href="#">厨房天地</a></li>
							<li><a href="#">户外旅行</a></li>
							<li><a href="#">创意生活</a></li>
						</ul>
						<ul>
							<li class="h_nav_spe_fir"><a href="#">所有品牌</a></li>
							<li><a href="#">Mazzzk 寐刻</a></li>
							<li><a href="#">Grow Gorgeous</a></li>
							<li><a href="#">Refa 黎珐</a></li>
							<li><a href="#">RIMOWA 日默瓦</a></li>
							<li><a href="#">Brookstone</a></li>
							<li><a href="#">GOC IN C 指挥官</a></li>
						</ul>
						<div class="nav_arrows"></div>
					</div>
					<div class="h_nav_spe">
						<ul>
							<li class="h_nav_spe_fir"><a href="#">男仕腕表</a></li>
							<li><a href="#">女士腕表</a></li>
							<li><a href="#">石英石</a></li>
							<li><a href="#">机械表</a></li>
						</ul>
						<ul>
							<li class="h_nav_spe_fir"><a href="#">热门品牌</a></li>
							<li><a href="#">sevenfriday</a></li>
							<li><a href="#">Calvin Klein 卡尔文·克莱恩</a></li>
							<li><a href="#">Daniel Wellington 丹尼尔·惠灵顿</a></li>
							<li><a href="#">Tissot 天梭</a></li>
							<li><a href="#">OMEGA 欧米茄</a></li>
							<li><a href="#">Longines 浪琴</a></li>

						</ul>
						<div class="nav_arrows"></div>
					</div>
					<div class="h_nav_spe">
						<ul>
							<li class="h_nav_spe_fir"><a href="#">国际大牌 Luxury Brand</a></li>
							<li><a href="#">Diesel 迪赛</a></li>
							<li><a href="#">Chloe 蔻依</a></li>
							<li><a href="#">Dior 迪奥</a></li>
							<li><a href="#">BVLGARI 宝格丽</a></li>
							<li><a href="#">3.1 Phillip Lim 菲利林</a></li>
							<li><a href="#">Love Moschino 莫斯奇诺</a></li>
							<li><a href="#">Giuseppe Zanotti 朱塞佩·萨诺</a></li>
							<li><a href="#">Moschino 莫斯奇诺</a></li>
						</ul>
						<ul>
							<li class="h_nav_spe_fir"><a href="#">国际大牌 Luxury Brand</a></li>
							<li><a href="#">Diesel 迪赛</a></li>
							<li><a href="#">Chloe 蔻依</a></li>
							<li><a href="#">Dior 迪奥</a></li>
							<li><a href="#">BVLGARI 宝格丽</a></li>
							<li><a href="#">3.1 Phillip Lim 菲利林</a></li>
							<li><a href="#">Love Moschino 莫斯奇诺</a></li>
							<li><a href="#">Giuseppe Zanotti 朱塞佩·萨诺</a></li>
							<li><a href="#">Moschino 莫斯奇诺</a></li>
						</ul>
						<div class="nav_arrows"></div>
					</div>
					<div class="h_nav_spe">
						<div class="nav_arrows"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="header_shadow"></div>
	</div>	
<!-- content -->
<div class="container">
	<div class="content">
		<div class="content_m">
			<!-- 有商品 -->
			<div class="content_m_cart">
				<div class="pro_allChoose">
					<div class="cpt01">
						<label for="allCho"><input type="checkbox" id="allCho">全选</label>
					</div>
					<div class="cpt02">商品信息</div>
					<div class="cpt03">单价</div>
					<div class="cpt04">数量</div>
					<div class="cpt05">小计</div>
				</div>
				<div class="pro_list">
					<table>
						<colgroup>
                   			<col width="415px">
                   			<col width="175px">
                   			<col width="215px">
                   			<col width="185px">
                		</colgroup>
						<tbody>
							<tr ng-repeat="product_row in product_rows">
								<td class="reletcive">
									<input type="checkbox" class="cart_pro_check">
									<div class="cp_img all_img float_l">
										<a href="#" target="_black">
											<img src="https://img.meicicdn.com/p/117/116935/h-116935-1.jpg" height="90">
										</a>
									</div>
									<div class="cp_info">
										<div class="cp_info_name">
											<a href="/product/detail/id/116935/saleid/114397.html" target="_blank" title="OMEGA 欧米茄 海马系列 精钢 男仕 机械表" class="ng-binding">
			                                 OMEGA 欧米茄<br>海马系列 精钢 男仕 机械表
			                                </a>
										</div>
										<div class="cp_info_props">
											<div class="cp_col">
												<span>颜色：银色</span>
											</div>
											<div class="cp_global"></div>
											<div class="cp_act" ng-show="product_row.type == 1 || product_row.type == 2 || product_row.type == 3 || product_row.type == 4" style="display: none;">
                               				</div>
										</div>
									</div>
								</td>
								<td align="center" class="ng-binding">￥28780.00</td>
								<td align="center">
									<div class="cart_num">
                            			<div class="cart_num_m">
                                			<a class="cart_jian" href="javascript:void(0);" ng-click="cal_minus()" ng-disabled="product_row.type == 5">-</a>
                               				 <input class="cart_int ng-pristine ng-valid" type="text" ng-model="product_row.quantity" ng-change="cal_change()" ng-disabled="product_row.type == 5">
                                			<a class="cart_jia" href="javascript:void(0);" ng-click="cal_add()" ng-disabled="product_row.type == 5">+</a>
			                            </div>
			                        </div>
								</td>
								<td align="center">
									￥<span class="unitPrice">28780.00</span>
								</td>
								<td>
									<div class="cp_btn">
										<a class="cp_fav" href="javascript:void(0);" title="加入收藏" ng-click="add_favorite()">加入收藏</a>
										<a class="cp_del" href="javascript:void(0);" ng-click="del_one()" title="删除">删除</a>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="cart_bar"></div>
			</div>
			<!-- 无商品 -->
			<div class="no_pro"></div>
			<!-- 推荐商品 -->
			<div class="guess_you_like"></div>
		</div>
	</div>
</div>
<!-- consultant在线咨询 -->
	<div class="consultant">
		<ul class="sultantList">
			<li class="consult_app">
				<a href="#" class="fix_meiciApp">
					<em></em>
				</a>
				<div class="consult_app_m">
					<div class="consult_app_sj"></div>
					<div class="consult_app_code">
						<img src="../image/listPage/ewm_indexTop_1.png" alt="">
					</div>
				</div>
			</li>
			<li class="consult_ol">
				<a href="#" class="fix_onlineCon">
				<em></em>
				</a>
			</li>
			<li class="consult_qq">
				<a href="#" class="fix_QQcon">
					<em></em>
				</a>
			</li>
			<li class="backTop">
				<a href="#" class="fix_backTop">
					<em></em>
				</a>
			</li>
		</ul>
	</div>
<!-- footer -->
	<div class="footer">
		<div class="container">
			<div class="above_con_ves claerfix">
				<div class="above_con1 above_con">
					<ul>
						<li class="ab_c_tit">购物指南</li>
						<li><a href="#">购物流程</a></li>
						<li><a href="#">配送方式</a></li>
					</ul>
					<ul>
						<li class="ab_c_tit">支付方式</li>
						<li><a href="#">如何付款</a></li>
						<li><a href="#">发票制度</a></li>
					</ul>
					<ul>
						<li class="ab_c_tit">商品说明</li>
						<li><a href="#">商品尺码</a></li>
						<li><a href="#">商品包装</a></li>
					</ul>
					<ul>
						<li class="ab_c_tit">客服中心</li>
						<li><a href="#">七天退换</a></li>
						<li><a href="#">常见问题</a></li>
					</ul>
				</div>
				<div class="above_con2 above_con">
					<p>客服电话<br/><span>4000-250-630</span></p>
					<p class="workHours">工作日 08:30-21:30</p>
					<p class="workHours">节假日 10:00-18:00</p>
				</div>
				<div class="above_con3 above_con">
					<p>订阅美西杂志</p>
					<input type="text" class="subscibe">
					<a href="#" class="sub_btn">即刻订阅</a>
				</div>
				<div class="above_con4 above_con">
					<div class="meiciApp">
						<p>美西APP</p>
						<div class="meiciQR">
							<img src="../image/down_app.png">
						</div>
					</div>
					<div class="offWechat">
						<p>官方微信</p>
						<div class="wechatQR">
							<img src="../image/wechat.png" >
						</div>
					</div>
					<p class="scan">手机扫码即可下载美西APP或关注官方微信</p>
				</div>
			</div>
			<div class="below_con">
				<div class="below_con_top claerfix">
					<ul class="claerfix">
						<li>
							<div class="footer_icon1"></div>
							<span>100%正品保证</span>
						</li>
						<li class="f_second_li">
							<div class="footer_icon2"></div>
							<span>7天无忧退货</span>
						</li>
						<li>
							<div class="footer_icon3"></div>
							<span>九年专注，品质保障</span>
						</li>
					</ul>
				</div>
				<div class="below_con_bot claerfix">
					<div class="float_l">
						<ul class="claerfix">
							<li><a href="#">媒体报道</a></li>
							<li><a href="#">正品保证</a></li>
							<li><a href="#">业务合作</a></li>
							<li><a href="#">隐私声明</a></li>
							<li><a href="#">加入美西</a></li>
							<li class="last_li"><a href="#">联系我们</a></li>
						</ul>
						<p class="Copyright">Copyright ©2008-2018，美西-高端时尚生活电商</p>
						<p>沪ICP备09001221号&nbsp;&nbsp;&nbsp;沪公网安备11010802017116号</p>
					</div>
					<div class="float_r">
						<p>合作支持</p>
						<ul>
							<li class="partner_1"><a href="#"></a></li>
							<li class="partner_2">
								<a href="#">
									<span></span>
									<i>银联特约商户</i>
								</a>
							</li>
							<li class="partner_3"><a href="#"></a></li>
							<li class="partner_4"><a href="#"></a></li>
							<li class="partner_5"><a href="#"></a></li>
							<li class="partner_6"><a href="#"></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="../js/common.js"></script>
	<script type="text/javascript" src="https://cdn.bootcss.com/require.js/2.3.5/require.min.js" data-main="../js/shoppingCart.js"></script>
</body>
</html>